:root {
  --bg-dark: #4d4c4c;
  --bg-dark2: #525151;
  --bg-dark3: #393939;
  --bg-dark4: #302f2f;
  --green: #00a54d;
  --red: #ee1d22;
  --yellow: #00a54d;
  --yellow2: #00a54d;
  --dark-blue: #0a77b1;
  --grey1: #c1c1c1;
  --grey2: #d8d8d8;
  --grey3: #c4c4c4;
  --grey4: #777777;
}
