#our-product {
    overflow-x: inherit;
}

#our-product .container {
    margin-top: 8rem;
}

#our-product .row {
    position: relative;
}

#our-product .next-btn,
#our-product .prev-btn {
    font-size: 3rem;
    width: max-content;
    color: var(--grey1);
    position: absolute;
    cursor: pointer;
    transition: .3s ease-out;
}

#our-product .next-btn:hover,
#our-product .prev-btn:hover {
    color: var(--yellow2);
}

#our-product .next-btn {
    top: -7.5rem;
    left: 49.5%;
}

#our-product .prev-btn {
    top: -7.5rem;
    right: 49.5%;
}

#our-product h4 {
    font-size: 2.5rem;
    font-weight: var(--fw-bold2);
    color: var(--dark-blue);
    margin-bottom: 9rem;
}

#our-product .slide .item {
    display: flex;
    justify-content: center;
    align-items: center;
}

#our-product .slide .item>img {
    width: 12rem;
}


/* Product IMAGE */

#our-product .slide .item>.AMH,
#our-product .slide .item>.SENQCIA {
    width: 15rem;
}

#our-product .slide .item>.RULMEGA {
    width: 8rem;
}

#our-product .slide .item>.BANDO,
#our-product .slide .item>.MITSUBISI,
#our-product .slide .item>.RIELLO {
    width: 8.5rem;
}

#our-product .slide .item>.NORD,
#our-product .slide .item>.ABB {
    width: 9rem;
}

#our-product .slide .item>.NTN {
    width: 12rem;
}

@media screen and (max-width: 520px) {
    #our-product .slide .item>.BANDO,
    #our-product .slide .item>.MITSUBISI,
    #our-product .slide .item>.RIELLO {
        width: 9rem;
    }
}