body {
    overflow-x: hidden;
}

#engineering {
    margin-top: 8.5rem;
    margin-bottom: 10rem;
}

#engineering .heading-info:nth-child(2) {
    margin-top: 5rem;
}

#engineering .col-lg-12 {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#engineering .col-lg-12 .box-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}



.engineering .hero-info {
    width: 50rem !important;
}

@media screen and (max-width: 910px) {
    .engineering .hero-info {
        width: 33rem !important;
    }
}

@media screen and (max-width: 539px) {
    .engineering .hero-info {
        width: 28rem !important;
    }
    .engineering .hero-title h1 {
        font-size: 3rem !important;
    }
    .engineering .hero-title p {
        font-size: 1.2rem !important;
    }
}


@media screen and (max-width: 460px) {
    .engineering .hero-info {
        width: 26rem !important;
    }
    .engineering .hero-title h1 {
        font-size: 2.8rem !important;
    }
    .engineering .hero-title p {
        font-size: 1.1rem !important;
    }
}

@media screen and (max-width: 423px) {
    .engineering .hero-info {
        width: 24rem !important;
    }
    .engineering .hero-title h1 {
        font-size: 2.6rem !important;
    }
    .engineering .hero-title p {
        font-size: 1rem !important;
    }
}