body {
    overflow-x: hidden;
}

#fabrication {
    margin-top: 8.5rem;
}

#fabrication img {
    border-radius: 10px;
}

#fabrication .heading-info {
    margin: 4rem 0;
}

#fabrication .row {
    row-gap: 2rem;
}

#fabrication .top {
    margin-top: 10rem;
}

#fabrication .row img {
    width: 100%;
}

@media screen and (max-width: 496px) {
    .fabrication .hero-title h1 {
        font-size: 3rem !important;
    }
}